/*Universal*/
body{
  background-color:#E0E3E5;
  font-family: Krub;
  box-sizing: border-box;
}

h1{
  font-size: 23pt;
    padding: 10px;
    font-weight: 400;
    margin: 8px 5px;
}

/*nav*/
nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  width: 100%;
  background-color: #163F0F;
}

.admin-div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
}

.nav-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-leaf{
  color: #1D8454;
  margin: 10px 20px 10px 5px;
}

.sml-logo-text{
  color: #CC3772;
  font-size: 14pt;
  margin: 0px;
  font-weight: 700;
}

.logo-text{
  color: #CC3772;
  font-size: 20pt;
  margin: 0px;
  font-weight: 700;
}

#sort{
  font-weight: 900;
  color: #E0E3E5;
  margin: 0px 20px 5px 5px;
}

.fa-share-alt, .fa-list-ul, .fa-sun{
  color: #CC3772;
  margin: 0px 5px 0px 10px;
}

.space{
  flex:10;
}

.main-logo{
  height: 75px;
  width: 75px;
  border-radius: 30%;
  padding: 10px;
}

.header-link{
  color: #E0E3E5;
  font-size: 20px;
  text-decoration: none;
}

.fa-sort-down{
  color: #1D8454;
  margin: 10px;
}

/*Body Tiles*/
article{
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px;
  height: 400px;
  background-color: #fff;
  margin: 10px;
  filter: drop-shadow(3px 3px 3px #474747);
}

.tile-header{
  display:flex;
  height:150px;
  width:100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.header-background{
  height: 150px;
  width:250px;
  position: absolute;
  z-index: 1;
}

.grey-tone{
  background-color: #040404;
  height: 150px;
  width: 250px;
  opacity: 0.4;
  z-index: 9;
  position: absolute;
}

.fa-comments{
  z-index: 10;
  padding-bottom:60px;
  color: #FFF;

}

.tile-body{
  height: 250px;
  width:250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

h2{ 
  font-size: 13pt;
  margin: 2px 0px;
}

.date{
  font-size: 10pt;
  margin: 2px 0px 8px 0px;
}

.view-text{
  font-size: 12pt;
  text-align: center;
  margin: 3px;
}

.view-num{
  font-size:20pt;
  font-weight: 700;
  text-align: center;
  margin:0px;
}

.views{
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  padding-left: 60px;
}

.tile-link-div{
  width: 220px;
  height: 45px;
  background-color: #E0E3E5;
  padding: 6px;
}

.tile-link{
  width: 80%;
  font-size: 10pt;
  word-break: break-all;
  margin: 5px 10px 5px 5px;
}

.playlist-p{
  font-size: 12pt;
  margin: 12px 0px 0px 0px;
}

.playlist-name{
  font-size: 13pt;
  margin: 3px 0px;
}

.attachments-p{
  font-size: 12pt;
  margin: 13px 0px 3px 0px;
}

.attachments-num{
  font-size: 22pt;
  margin: 3px 0px;
}


.main-tiles{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*put in media query for 485 px width*/
/*change the way the nav bar works (looks?)at 645 px*/
/*put in media query for 345px*/